body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(strand_vaag.png);
  background-repeat: repeat;
  background-size: cover;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}

.bold {
  font-weigt: bold;
}


.italic {
  font-style: italic;
}

.font200 {
  font-size: 200%;
  font-weight: bold;
}

.font150 {
  font-size: 150%;
}

.font120 {
  font-size: 120%;
}

.font130 {
  font-size: 130%;
  font-weight: bold;
}

.font120bold {
  font-size: 120%;
  font-weight: bold;
}

.font60 {
  font-size: 60%;
}
.blue {
  color: #0040FF;
  font-weight: bold;
}
.white {
  color: white;
}
.font140 {
  font-size: 140%;
  color: green;
  font-weight: bold;
}
.font120red {
  font-size: 120%;
  color: darkred;
  }

#pv {
}
#info {
}
#other {
}
#samhoud {
}
#kellogg {
}
#background {
}

/* SLIDER */

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

/* SLIDER */
